In [2]:
import pandas as pd
import numpy as np

In [30]:
accident = pd.read_csv('ACCIDENT.csv')
vehicle = pd.read_csv('VEHICLE.csv')
node = pd.read_csv('NODE.csv')

/Users/badvendetta/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (10,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/badvendetta/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3,25,26,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [31]:
result = pd.merge(accident, vehicle, on='ACCIDENT_NO')
result = pd.merge(result, node, on='ACCIDENT_NO')

In [38]:
result['location'] = list(zip(result.Lat, result.Long))

In [56]:
result_1 = result[['Vehicle Type Desc', 'LGA_NAME','location']]

In [57]:
result_1 = result_1[result_1['Vehicle Type Desc'] == 'Bicycle']

In [58]:
result_1.head()

   Vehicle Type Desc        LGA_NAME                     location
60           Bicycle           CASEY   (-38.03874353, 145.304741)
62           Bicycle         GEELONG  (-38.26119325, 144.5348379)
66           Bicycle  EAST GIPPSLAND  (-37.86471848, 148.0221583)
88           Bicycle       FRANKSTON  (-38.12311703, 145.1420018)
89           Bicycle       FRANKSTON  (-38.12311703, 145.1420018)

In [59]:
result_1.groupby(by = 'LGA_NAME')['location'].apply(list).reset_index()

          LGA_NAME                                           location
0                   [(-37.79743801, 144.9580087), (-37.82824738, 1...
1    (FALLS CREEK)  [(-36.87115987, 147.286222), (-36.87115987, 14...
2   (MOUNT BULLER)  [(-37.14512879, 146.4517996), (-37.11033607, 1...
3           ALPINE  [(-36.56788974, 146.7172896), (-36.74388243, 1...
4           ARARAT  [(-37.28472886, 142.9255626), (-37.28405993, 1...
..             ...                                                ...
77         WODONGA  [(-36.11926906, 146.8800616), (-36.12363861, 1...
78         WYNDHAM  [(-37.90240273, 144.6594024), (-37.878929, 144...
79           YARRA  [(-37.81858459, 144.99938), (-37.80575168, 144...
80    YARRA RANGES  [(-37.91497545, 145.3730701), (-37.81792014, 1...
81    YARRIAMBIACK  [(-36.25324272, 142.39772), (-36.25639, 142.39...

[82 rows x 2 columns]